{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Editing Item</h4>
            {% for field in form %}            
                <div class="form-group row">
                    <label for="id_{{ field.name }}" class="col-2 col-form-label" > {{ field.label }} </label>
                    <div class="col-10">
                        {% if field.label == "Upload attendance" or field.label == "Upload report" %}
                            <div id = "attendance_div" onchange = "updateAttendanceFileValue()">
                                <label for="">{{field.value}}</label>
                                <div>
                                    <label for="">Change File :</label>
                                    <input class="w-30 m-1" type="file" name= "{{field.name}}" class="form-control-file" id="exampleFormControlFile1">
                                    <!-- <input type="text" name = "upload_atten"> -->
                                </div>
                            </div>
                        {% elif field.label == "Upload report" %}
                            <div onchange = "updateReportFileValue()" >
                                {{ field }}
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <!-- <div class="form-group mb-2 align-center">
                <label class="w-25" for="exampleFormControlFile1">Upload Report</label>
                <input class="w-30 m-1" type="file" name="upload_atten" class="form-control-file" id="exampleFormControlFile1">
            </div> -->
        
            <!-- <textarea name = "upload_attendance_area" id = "upload_attendance_area"></textarea>
            <textarea name = "upload_report_area"></textarea> -->
            <button type="submit" class="btn btn-primary" name="button">Save</button>

        </form>

    </div>

{% endblock %}