{% extends 'base.html' %}

{% block body %}

    <div class="outside editor">
      <div class="form_style">
        <form action="" method="post">
            
            {% csrf_token %}

            <h2>Editing Item...</h2>

            {% for field in form %}
            
                <div class="form-group row ">

                    <label for="id_{{ field.name }}" class="w-25 tags"> {{ field.label }} </label>
                    <div class=" entry m-1 " style="width:16%">
                        {{ field }}
                    </div>
                    
                </div>
            
            {% endfor %}

            <button type="submit" class="btn btn-primary tags" style="width:70px; border-radius:12px;" name="button">Edit</button>

        </form>
    </div>
    </div>

{% endblock %}