{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h1 style="text-align: center; text-decoration: underline;padding-bottom: 10px; " class="event">Event Entry </h1>
        <div class = "div-container">
            <form enctype="multipart/form-data" method="post" action="{% url 'save_event' id %}" style="padding: 18px;
             margin: 7px;">
                {% csrf_token %}
                <fieldset class="border border-2 p-2">
                    <legend  class="float-none w-auto">Event Details</legend>
                    {% for field in form %}  
                        {% if field.label == "Event name" or field.label == "Type of event" or field.label == "Audience"  or field.label == "Organized by" or field.label == "Conducted by" or field.label == 'No of participants'%}
                            <div class="form-group mb-2 align-center float-child">
                            <label for="id_{{ field.name }}" class="w-25 required_asterisk" > {{ field.label }} </label>
                            {{field}}
                            </div>
                        {% elif field.label == "Societies" %}
                            <div class="form-group mb-2 align-center float-child" id = "society-involved">
                                <label for="id_{{ field.name }}" class="w-25 required_asterisk" > {{ field.label }} </label>
                                <!-- {{field.name}} -->
                                <textarea class="d-none" name ="Societies" id="all_society" cols="30" rows="10">{{field.value}}</textarea>
                                <select id="society" multiple = "multiple" class="w-30 m-1" oninput="getSocieties()">
                                        <option value="Prakriti" >Prakriti</option>
                                        <option value="IEEE">IEEE</option>
                                        <option value="E-Cell">E-Cell</option>
                                        <option value="IIC">IIC</option>
                                        <option value="NISP">NISP</option>
                                        <option value="UBA">UBA</option>
                                        <option value="E-yantra">E-yantra</option>
                                        <option value="EBSB">EBSB</option>
                                        <option value="IIIC">IIIC</option>
                                        <option value="TechSoc">TechSoc</option>
                                        <option value="Mutants">Mutants</option>
                                        <option value="Veda">Veda</option>
                                        <option value="NSS">NSS</option>
                                        <option value="None">None</option>
                                    </select>
                            </div>
                        {% elif field.label == "Departments"%}
                            <div class="form-group mb-2 align-center float-child">
                                <label class="w-25 required_asterisk" for="exampleFormControlInput1">Departments</label>
                                <textarea class="d-none" name="Departments" id="all_department" cols="30" rows="10">{{field.value}}</textarea>
                                <select id="department" multiple = "multiple" name="department" class="w-30 m-1" oninput="getDepartments()">
                                    <option value="All" >All</option>
                                    <option value="CSE" >CSE</option>
                                    <option value="IT">IT</option>
                                    <option value="ECE">ECE</option>
                                    <option value="EEE">EEE</option>
                                    <option value="Applied Science">Applied Science</option>
                                    <option value="None">None</option>
                                </select>
                            </div>
                        {% endif %}
                    {% endfor %}
                </fieldset>
                    <br>
                <fieldset class="border border-2 p-2">
                    <legend  class="float-none w-auto">Event's Sponsors Details</legend>
                    {% for field in form %}
                    <!-- {{field.label}} -->
                        {% if field.label == "Sponsors details"   %}
                            <div class="form-group mb-2 align-center " id = "inputSponsors" >
                                <textarea name="{{field.name}}"  id = "sponDets" class="d-none spons_text" >{{field.value}}</textarea>        
                            </div>          
                        {% elif field.label == "No of sponsors" %}
                            <div class="form-group align-center pt-3" >
                                <label class=" required_asterisk" for="exampleFormControlInput1" id=" no_of_sponsors"  style = "margin-left: 4.8rem;width: 5rem">Number of Sponsors</label>
                                <input class="w-30" type="number" name="no_of_sponsors" id="sponsors" oninput="addSponsors(this.value)" value = "{{field.value}}" required style = "height: 32px;border-radius: 4px;margin-left: 3.76rem;" />
                            </div>
                            <div id="insertSponsDets"></div>
                            <!-- <div class="actual_sponsors" style = "display :none;">
                                <textarea name="sponsors_details" id="" cols="30" rows="10" class = "" ></textarea>
                            </div>  -->
                        {% elif field.label == "Total sponsored amt" %}
                            <div class="form-group mb-2 align-center float-child">
                                <label class="w-25 required_asterisk" for="exampleFormControlInput1">Total Amount of Sponsorship</label>
                                <input class="w-30 m-1" type="number" name="total_sponsored_amt" id="total" required value = "{{field.value}}" readonly/>
                            </div>
                        {% endif %}                   
                    {% endfor %}
                 </fieldset>
                <br>
                <fieldset class="border border-2 p-2">
                    <legend  class="float-none w-auto">Event Dates</legend>
                    {% for field in form %}
                        {% if field.label == "Start date" %}
                        <div class="form-group mb-2 align-center float-child">
                        <!-- <label for="id_{{ field.name }}" class="col-2 col-form-label required_asterisk" > {{ field.label }} </label> -->
                        <label class="col-2 col-form-label required_asterisk" for="exampleFormControlInput1">{{field.label}}</label>
                        <input class="w-30 m-1 datesettup" type="date" name="start_date" id="start_date" min ="1600-01-01" max = "3020-12-31" required >
                        <label id = "start-date-setter" class ="d-none">{{field.value}}</label>
                        </div>

                        <!-- <div class="form-group mb-2 align-center">
                            <label class="w-25 required_asterisk" for="exampleFormControlInput1">Start Date</label>
                            <input class="w-30 m-1" type="date" name="start_date" id="" required>
                        </div> -->
                        
                        {% elif field.label == "End date"%}
                        <div class="form-group mb-2 align-center float-child">
                            <label class="col-2 col-form-label required_asterisk" for="exampleFormControlInput1">End Date</label>
                            <input class="w-30 m-1 datesettup" type="date" name="end_date" id="end_date"  min ="1600-01-01" max = "3020-12-31" required>
                            <label id = "end-date-setter" class="d-none">{{field.value}}</label>
                        </div>
                        <!-- <div class="form-group mb-2 align-center">
                            <label class="w-25 required_asterisk" for="exampleFormControlInput1">End Date</label>
                            <input class="w-30 m-1" type="date" name="end_date" id="" required>
                        </div> -->
                        {% endif %}
                    {% endfor %}
                 </fieldset>

                 <br>
                 <fieldset class="border border-2 p-2">
                    <legend  class="float-none w-auto">Upload Attendance</legend>
                    {% for field in form %}
                        <div class="form-group align-center">
                        {% if field.label == "Upload attendance"  %}
                        <div class="form-group align-center " style="display: flex;">
                            <label for="id_{{ field.name }}" class="col-2 col-form-label  " > {{ field.label }} </label>
                            <!-- {{field.name}} -->
                            <div id = "attendance_div" onchange = "updateAttendanceFileValue()">
                                <label for="">Previously Uploaded :</label>
                                <label for="">{{field.value}}</label>
                                <div>
                                    <label for="">Change File :</label>
                                    <input class="w-30 m-1" type="file" name= "{{field.name}}" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        </div>
                    {% endfor %}
                 </fieldset>
                 <br>
                 <fieldset class="border border-2 p-2">
                    <legend  class="float-none w-auto ">Upload Report</legend>
                    {% for field in form %}
                        {% if field.label == "Upload report"  %}
                            <div class="form-group  align-center" style="display: flex;">
                                <label for="id_{{ field.name }}" class="col-2 col-form-label" > {{ field.label }} </label>
                                <div id = "attendance_div" onchange = "updateAttendanceFileValue()">
                                    <label for="">Previously Uploaded :</label>
                                    <label for="">{{field.value}}</label>
                                    <div>
                                        <label for="">Change File :</label>
                                        <input class="w-30 m-1" type="file" name= "{{field.name}}" class="form-control-file" id="exampleFormControlFile1">
                                        <!-- <input type="text" name = "upload_atten"> -->
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                 </fieldset>     
                 <textarea name="passingColumns" class = "d-none" id="passingColumns" cols="30" rows="10">{{columns}}</textarea> 
                 <input type="text" class="d-none" name = "id_details" id = "id_details" value = "{{id}}">          
                <div class="form-group w-100" style = "display: flex; justify-content: center;margin-top: 15px;">
                    <input class="btn  btn-sm" type="submit" value="Edit" style="background-color: #080885;color: white;"/>
                </div>
                <textarea name="columns_details" id="passingColumns" class = 'd-none' cols="30" rows="10">{{columns}}</textarea>
            </form>
        </div>
    </div>     
{% endblock %}