{% extends 'base.html' %}
{% block body %}
    {% if msg != '' %}
        <div class="alert alert-success" id="message-alert">
            <p>{{msg}}</p>
        </div>
    {% endif %}
    <div class="table">
        <div id="wrapper">
            <div style="display: flex;justify-content: space-between;">
                <h3>Currently viewing {{ header }}</h3>
                <div style="float: right;">
                    <button class="btn expo-btn" style=" background-color:#052e6a; color:#fff; margin: 0.5rem;" name="downloadExcel" value="export" type="submit" form="filterForm">Download Excel</button>
                    <button class="btn expo-btn" style=" background-color:#052e6a; color:#fff; margin: 0.5rem;" name="" value="" type="button" onclick = 'showFilters();'>Add Filters</button>
                </div>
            </div>
            
            <br>
            
            <fieldset id = 'filterDataDiv' class="border border-2 p-2 d-none" >
                <legend class="float-none w-auto p-2">Filter Data</legend>
                <form id="filterForm" class="overflow-hidden" action="{% url 'filter_event'%}" method="POST">
                    {% csrf_token %}
                    <div class = 'form-group row m-2 '>
                        <div class="form-group row ">
                            {% for key,filter in filter_data.items %}
                                {% if 'break' in key %}
                                    <div class="w-100"></div>
                                {% else %}
                                    {% if sel_fil_val %}
                                        {% for k,v in sel_fil_val.items %}
                                            {% if key == 'Total Sponsored Amount'  %}                                                    
                                                <div class="col-lg m-2 d-none">
                                                    <select class="w-100" name="{{key}}" style="width: 100%;"> 
                                                        <option value="-1" class="text-secondary">Select {{key}}</option>
                                                        {% for value in filter %}
                                                            <option value="{{value}}">{{value}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            {% elif key == k %}
                                                <div class="col-lg m-2">
                                                    <select class="w-100" name="{{key}}" style="width: 100%;"> 
                                                        <option value="-1" class="text-secondary" >Select {{key}}</option>
                                                        {% for value in filter %}
                                                            {% if v == value and v != -1 %}
                                                                <option value="{{value}}" selected>{{value}}</option>
                                                            {% else %}
                                                                <option value="{{value}}">{{value}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>                                            
                                            {% endif %}
                                        {% endfor %}
                                    {% elif key == 'Total Sponsored Amount' or key == '' %}
                                        <div class="col-lg m-2 d-none">
                                            <select class="w-100" name="{{key}}" style="width: 100%;"> 
                                                <option value="-1" class="text-secondary">Select {{key}}</option>
                                                {% for value in filter %}
                                                    <option value="{{value}}">{{value}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% else %}
                                        <div class="col-lg m-2 ">
                                            <select class="w-100" name="{{key}}" style="width: 100%;"> 
                                                <option value="-1" class="text-secondary">Select {{key}}</option>
                                                {% for value in filter %}
                                                    <option value="{{value}}">{{value}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
    
                            
                            <div class="form-group row m-2" >
                                <div class="col-lg m-2" style="padding-left:0px;display: flex; align-items: center;width: 50%;">
                                    <label class="col-sm-2 col-form-label text-left" style="width: fit-content;
                                    margin-right: 10px;"> Minimum Amount: </label>
                                    <input class="form-control" type="number" name="min_amount" id="min_amount"  placeholder="Enter the Minimum Amount" style="border-color: rgb(167, 165, 165);height: 30px; width: 76%;">
                                </div> 
                                <div class="col-lg m-2" style=" display: flex; align-items: center;  width: 50%;">
                                    <label class="col-sm-2 col-form-label text-left" style="width: fit-content;
                                    margin-right: 10px;"> Maximum Amount: </label>
                                    <input  class="form-control" type="number" name="max_amount" id="max_amount" placeholder="Enter the Maximum Amount" style="border-color: rgb(167, 165, 165);height: 30px; width: 77%;" val="100000000">
                                </div>
                            </div>        
                            
                            <div class="form-group row m-2" >
                                <div class="col-sm-4" style=" display: flex; align-items: center;  width: 49%;">
                                    <label class="col-sm-2 col-form-label text-left"> Start From: </label>
                                    <input style="border: 1px solid #9ea0a2;
                                    height: 30px;" class="form-control" type="date" name="after" id="" value="{% if sel_fil_val and sel_fil_val.start_date %}{{sel_fil_val.start_date}}{% endif %}">
                                </div>
                                
                                <div class="col-sm-4" style=" display: flex; align-items: center; margin-left: 0.55rem; width: 50%;">
                                    <label class="col-sm-1 col-form-label text-left"> Upto: </label>
                                    <input class="form-control" type="date" name="upto" id="" value="{% if sel_fil_val and sel_fil_val.end_date %}{{sel_fil_val.end_date}}{% endif %}" style="border: 1px solid #9ea0a2;
                                    height: 30px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <textarea class="d-none" name="filter_data" id="filter_data">{% if sel_fil_val_json_string %}{{sel_fil_val_json_string}}{% else %}All{% endif %}</textarea>
                    <textarea class="d-none" name="display_columns" id="display_columns">All</textarea>
                    <textarea class = "d-none" name="columns_details" id="fillColumns" cols="30" rows="10">{{columns_str}}</textarea>
                    <textarea class = 'show_filter_data d-none'  cols = "30" row = "10" name = "show_filters">{{showFilters}}</textarea>
                
                <hr>
                
                <div class="form-group row">
                    <legend  class="float-none w-auto"></legend>
                    <div class="form-group mb-2 align-center" >
                        <label class="mx-4 required_asterisk" for="exampleFormControlInput1" id="no_of_columns">No of Columns</label>
                        <input class="w-30 m-1" type="number" name="" id="no_of_cols" val="1" oninput="addColumns(this.value)" min = "0" max = "14" />
                        <div class="form-group mb-2 align-center" id = "inputColumns" style="margin-top: 20px;" ></div>
                    </div>
                </div>
                <div class="form-group w-100 text-center" style = "margin-top : 15px;">
                    <button class="btn btn-success float-right "style ="background-color:green;" name="filter" value="filter" type="submit" onclick="fillDefaultValues();">Apply Filters</button>
                    <button class="btn btn-danger float-right" style ="background-color:red;"  name="resetFilter" value="reset" type="submit">Reset Filters</button>
                </div>
                </form> 
            </fieldset>
            
            
            <div class="card table-scroll {% if not display %} d-none {% endif %}" id = "table-fields"  style="max-height: 75vh;">
                <table id="employee_table" cellpadding="10" class="table table-striped  table-bordered table-hover align-middle text-center" style="margin-bottom: 0%;">
                    <tr class="table" style = "background-color: #052e6a;">
                        <th style="color: white;">S.no</th>
                        {% for col in columns %}
                            {% if col == "upload_attendance"%}
                                <th style="color: white;" id="{{field.name}}_col_head">Attendance</th>
                            {% elif col == "upload_report"%}
                                <th style="color: white;" id="{{field.name}}_col_head">Report</th>
                            {% elif col == "event_name"%}
                                <th style="color: white;" id="{{field.name}}_col_head">Event Name</th>
                            {% elif col == "type_of_event"%}
                                <th style="color: white;" id="{{field.name}}_col_head">Event Type</th>
                            {% elif col == "Organized_by"%}
                                <th style="color: white;" id="{{field.name}}_col_head">Organized By</th>
                            {% elif col == "Conducted_by"%}
                                <th style="color: white;" id="{{field.name}}_col_head">Conducted By</th>
                            {% elif col == "sponsors_details"%}
                                <th style="color: white;" id="{{field.name}}_col_head">Sponsors Details</th>
                            {% elif col == "total_sponsored_amt"%}
                                <th style="color: white;" id="{{field.name}}_col_head">Total Sponsored Amount</th>
                            {% elif col == "start_date"%}
                                <th style="color: white;" id="{{field.name}}_col_head">Start Date</th>
                            {% elif col == "end_date"%}
                                <th style="color: white;" id="{{field.name}}_col_head">End Date</th>
                            {% elif col == "no_of_participants"%}
                                <th style="color: white;" id="{{field.name}}_col_head">No of Participants</th>
                            {% elif col == 'Audience' %}
                                <th style="color: white;" id="{{field.name}}_col_head">Audience</th>
                            {% elif col == 'Societies' %}
                                <th style="color: white;" id="{{field.name}}_col_head">Societies</th>
                            {% elif col == 'Departments' %}
                                <th style="color: white;" id="{{field.name}}_col_head">Departments</th>
                            {% endif %}
                        {% endfor %}
                        <th style="color: white;">Action</th>
                    </tr>
                    
                    {% for event in event_data %}
                        <tr class="table-light" id = "event_row_id_{{event.id}}">
                            <td>{{ forloop.counter }}</td>
                            {% for col in columns %}
                                {% if col == 'event_name' %}
                                    <td class="event_name_col" >{{ event.event_name }}</td>
                                {% elif col == 'type_of_event' %}
                                    <td class="type_of_event_col" >{{ event.type_of_event }}</td>
                                {% elif col == 'Audience' %}
                                    <td class="Audience_col">{{ event.Audience }}</td>
                                {% elif col == 'Societies' %}
                                    <td class="Societies_col">{{ event.Societies }}</td>
                                {% elif col == 'Departments' %}
                                    <td class="Departments_col">{{ event.Departments }}</td>
                                {% elif col == 'Organized_by' %}
                                    <td class="Organized_by_col" >{{ event.Organized_by }}</td>
                                {% elif col == 'Conducted_by' %}
                                    <td class="Conducted_by_col" >{{ event.Conducted_by }}</td>
                                {% elif col == 'no_of_sponsors' %}
                                    <td class="no_of_sponsors_col" >{{ event.no_of_sponsors }}</td>
                                {% elif col == 'sponsors_details' %}
                                    <td class="sponsors_details_col">
                                    <table class="table align-middle table-hover table-striped table-light table-sm text-center">
                                        <tr>
                                            <th class="ml-1">Sponsor</th>
                                            <th>Amount</th>
                                        </tr>
                                        {% for sponsor,amount in event.sponsors_details.items %}
                                            <tr>
                                                <td class="ml-1">{{sponsor}}</td>
                                                <td>{{amount}}</td>
                                            </tr>
                                        {% endfor %}
                                    </table> 
                                    </td>
                                {% elif col == 'total_sponsored_amt' %}
                                    <td class="total_sponsored_amt_col">{{ event.total_sponsored_amt }}</td>
                                {% elif col == 'start_date' %}
                                    <td class="start_date_col" >{{ event.start_date }}</td>
                                {% elif col == 'end_date' %}
                                    <td class="end_date_col" >{{ event.end_date }}</td>
                                {% elif col == 'no_of_participants' %}
                                    <td class="no_of_participants_col" >{{ event.no_of_participants }}</td>
                                {% elif col == 'upload_attendance' %}
                                    <td class="upload_attendance_col" ><a href="{% url 'open_file_atten' event.upload_attendance %}" class="btn btn-sm atten_file" role="button" target="_blank"><i class="fas fa-file-pdf" style = "font-size:2rem; color: red;"></i></a></td>
                                {% elif col == 'upload_report' %}
                                    <td class="upload_report_col" ><a href="{% url 'open_file_report' event.upload_report %}" target = "_blank" btn  btn-sm report_file" role="button" ><i class="fas fa-file-pdf" style = "font-size:2rem; color: red;"></i></a></td>
                                {% endif %}
                            {% endfor %}
                            <td>       
                                <form action="{% url 'edit_event' %}" method ='POST' class="overflow-hidden"  enctype="multipart/form-data" class = "d-none" id ='columnsDataform'>
                                    {% csrf_token %}
                                    <textarea class = 'show_filter_data d-none'  cols = "30" row = "10" name = "show_filters">{{showFilters}}</textarea>
                                    <div id = "insertForm"></div>  
                                </form>
                                <textarea name="columns_dets"  class = "d-none" id="columns_dets" cols="30" rows="10" >{{columns_str}}</textarea>   
                                <button class="btn btn-warning btn-sm" style = "margin-bottom:7px;" type = "submit"  onclick = "submitHiddenForm('{{event.id}}')" ><i class="fa-solid fa-pen" style="font-size: 1.5rem;"></i></button>
                                
                                <!-- <span  class="btn btn-danger btn-sm" role="button" style = "margin-bottom:7px;" onclick="deleteRow('{{ event.id }}')"  ><i class="material-icons">&#xE872;</i></span> -->
                                <form action="{% url 'delete_event_entry'%}" method ='POST' class="overflow-hidden"  enctype="multipart/form-data" class = "" id ='columnsDataform'>

                                    {% csrf_token %}
                                    <textarea class = 'show_filter_data d-none'  cols = "30" row = "10" name = "show_filters">{{showFilters}}</textarea>

                                    <input name = "id_details" class = "d-none" value = "{{event.id}}"/> <textarea name="columns_details" class="d-none" id = 'passingColumns'>{{columns_str}}</textarea>                             
                                    <button class="btn btn-danger btn-sm" style = "margin-bottom:7px;" type = "submit" ><i class="material-icons">&#xE872;</i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}
