{% extends 'base.html' %}
{% block body%}
    <div class="container">
        <h1 style="text-align: center; text-decoration: underline;padding-bottom: 10px; " class="event">Student's Entry</h1>
        <div class = "div-container">
            <form enctype="multipart/form-data" method="post" action="{% url 'add_student' %}" style="padding: 18px;
             margin: 7px;">
                {% csrf_token %}

                <fieldset class="border border-2 p-3">
                    <legend  class="float-none w-auto">Event's Details</legend>
                    <div class="form-group  align-center float-child">
                        <label class="w-25 required_asterisk" for="exampleFormControlInput1">Event Name</label>
                        <input class="w-30 " type="text" name="event_name" required id="" style = "height: 32px;
                        border-radius: 4px;">
                    </div>
                       
                    <div class="form-group  align-center float-child">
                        <label class="w-25 required_asterisk" for="exampleFormControlInput1">Type of Event</label>
                        <select class="w-30 m-1" name="event_type" required class="form-control">
                            <option value="-1">Select Values</option>
                            <option value="Cultural" >Cultural</option>
                            <option value="Technical">Technical</option>
                            <option value="Sports">Sports</option>
                        </select>
                    </div>
                    <div class="form-group align-center float-child">
                        <label class="w-25 required_asterisk" for="exampleFormControlInput1">Event Date</label>
                        <input class="w-30 m-1 datesettup" required type="date" name="event_date" id="event_date" min ="1600-01-01" max = "3020-12-31"  style = "height: 32px;
                        border-radius: 4px;">
                    </div>
                                       
                    <div class="form-group align-center float-child">
                        <label class="w-25 required_asterisk" for="exampleFormControlInput1">Organized By</label>
                        <input class="w-30 " type="text" required name="organized_by" id=""  style = "height: 32px;
                        border-radius: 4px;
                    ">
                    </div>

                    <div class="form-group align-center float-child">
                        <label class="w-25 required_asterisk" for="exampleFormControlInput1">Host Institute</label>
                        <input class="w-30 " type="text" name="host_institute" id=""  style = "height: 32px;
                        border-radius: 4px;" required>
                    </div>

                    <div class="form-group  align-center float-child">
                        <label class="w-25 required_asterisk" for="exampleFormControlInput1">Position Obtained</label>
                        <select  required class="w-30 m-1" name="position" class="form-control">
                            <option value="-1">Select Values</option>
                            <option value="1" >I</option>
                            <option value="2">II</option>
                            <option value="3">III</option>
                            <option value="Runner_up">Runner up</option>
                        </select>
                    </div>
                    <div class="form-group  align-center float-child">
                        <label class="w-25 required_asterisk" for="exampleFormControlInput1">Level Of Event</label>
                        <select required class="w-30 m-1" name="level" class="form-control">
                            <option value="-1">Select Values</option>
                            <option value="College" >College</option>
                            <option value="InterCollege">InterCollege</option>
                            <option value="University">University</option>
                            <option value="State">State</option>
                            <option value="National">National</option>
                            <option value="International">International</option>
                        </select>
                    </div>

                    <div class="form-group align-center float-child">
                        <label class="w-25 required_asterisk" for="exampleFormControlInput1">Award Date</label>
                        <!-- <input class="w-30 m-1" type="date" name="date_of_award" id=""  style = "height: 32px;                        border-radius: 4px;">-->
                        <input required class="w-30 m-1 datesettup" type="date" name="date_of_award" id="event_date" min ="1600-01-01" max = "3020-12-31"  style = "height: 32px;
                        border-radius: 4px;">
                    </div>

                    <div class="form-group align-center  float-child">
                        <label class="w-25 required_asterisk" for="exampleFormControlFile1">Upload Proof</label>
                        <input required class="w-30 m-1" type="file" name="upload_proof" class="form-control-file" id="exampleFormControlFile1" accept ="application/pdf" style = "height: 32px; 
                        border-radius: 4px;">
                    </div>  
                    
                    <div class="form-group  align-center float-child">
                        <label class="w-25 required_asterisk" for="exampleFormControlInput1">Team Size</label>
                        <select required class="w-30 m-1" name="team_size" class="form-control" oninput="numberOfMembers(this.value)">
                            <option value="-1" selected disabled>Select Values</option>
                            <option value="Team" >Team</option>
                            <option value="Individual" >Individual</option>
                        </select>
                    </div>

                    <div class="form-group align-center float-child d-none" id = 'no_of_members'>
                        <label class="w-25 required_asterisk" for="exampleFormControlInput1">No of Members</label>
                        <input required class="w-30 " type="number" name="number_of_members" id=""  style = "height:32px;border-radius: 4px; " oninput="AddMemberDetails(this.value)" min = '1'>
                    </div>
                </fieldset>
                <br>
                <fieldset class="border border-2 p-3 d-none" id = 'member_details'>
                    <legend  class="float-none w-auto">Student's Details</legend>  
                    <div id = 'insert_member_details'>
                    </div>                     
                </fieldset>
                          
                <br>
                
                <textarea name="columns_details" class="d-none" id="selected_columns" cols="30" rows="10"></textarea>
                <textarea class= 'd-none' name = "member_details_data" col ="30" rows = "10" id = 'member_details_data'></textarea>
                <div class="form-group w-100" style = "display: flex; justify-content: center;margin-top: 15px;">
                    <input class="btn  btn-sm" type="submit" value="Add" style="background-color: #080885;color: white; width: 10rem; " onclick = "submit_member_data()" />
                </div>
            </form>
        </div>
        </div>     
{% endblock %}