{% extends 'base.html' %}
{% block body %}
    {% if msg != '' %}
        <div class="alert alert-success" id="message-alert">
            <p>{{msg}}</p>
        </div>
    {% endif %}
    <div id="table">
        <div id="wrapper">
            <div style="display: flex;justify-content: space-between;">
                <h3>Currently viewing {{ header }}</h3>
                <button class="btn expo-btn" style=" background-color:#052e6a; color:#fff; float: right;" name="" value="" type="button" onclick = 'showFilters();'>Filter Data</button>
            </div>
            <fieldset id = 'filterDataDiv'  class="border border-2 p-2 {% if not showFilters %} d-none {% endif %}">
                <legend class="float-none w-auto p-2">Filter Data</legend>
                <form class="overflow-hidden" action="{% url 'filter_student' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group row " >
                        <div class="form-group row">
                            {% for key,filter in filter_data.items %}
                                {% if 'break' in key %}
                                    <div class="w-100"></div>
                                {% else %}
                                    {% if sel_fil_val %}
                                        {% for k,v in sel_fil_val.items %}
                                            {% if key == 'Award Date' and k == 'Award Date' %}
                                            <div class="col-lg m-2" style="display: flex;align-items: center;" >
                                                <label class="col-sm-2 col-form-label text-left" style="width: fit-content;margin-right: 10px;"> {{key}} </label>
                                                <input class="form-control" type="date" name="{{key}}" id="date_of_award"  style="border-color: rgb(167, 165, 165);height: 30px;width: 84%;">
                                            </div>
                                            {% elif key == 'Event Date' and k == 'Event Date' %}
                                            <div class="col-lg m-2" style="display: flex;align-items: center;" >
                                                <label class="col-sm-2 col-form-label text-left" style="width: fit-content;margin-right: 10px;"> {{key}} </label>
                                                <input class="form-control" type="date" name="{{key}}" id="event_date"  style="border-color: rgb(167, 165, 165);height: 30px;width: 84%;">
                                            </div>  
                                            {% elif key == 'Enrollment No' and k == 'Enrollment No' %}
                                                <div class="col-lg m-2" >
                                                    <input class="form-control" type="number" name="{{key}}" id="event_date"  placeholder="Enter the Event Date" style="border-color: rgb(167, 165, 165);height: 30px; width: 100%;">
                                                </div> 
                                            {% elif key == k %}
                                            <div class="col-lg m-2">
                                                <select class="w-100" name="{{key}}"  style="width: 100%;"> 
                                                    <option value="-1" class="text-secondary" >Select {{key}}</option>
                                                    {% for value in filter %}
                                                        {% if v == value and v != -1 %}
                                                            <option value="{{value}}" selected>{{value}}</option>
                                                        {% else %}
                                                            <option value="{{value}}">{{value}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>                                    
                                            {% endif %}
                                        {% endfor %}
                                    {% elif key == 'Award Date' %}
                                    <div class="col-lg m-2" style="display: flex;align-items: center;" >
                                        <label class="col-sm-2 col-form-label text-left" style="width: fit-content;margin-right: 10px;"> {{key}} </label>
                                        <input class="form-control" type="date" name="{{key}}" id="date_of_award"  style="border-color: rgb(167, 165, 165);height: 30px;width: 84%;">
                                    </div>  
                                    {% elif key == 'Event Date' %}
                                        <div class="col-lg m-2" style="display: flex;align-items: center;" >
                                            <label class="col-sm-2 col-form-label text-left" style="width: fit-content;margin-right: 10px;"> {{key}} </label>
                                            <input class="form-control" type="date" name="{{key}}" id="event_date"  style="border-color: rgb(167, 165, 165);height: 30px;width: 84%;">
                                        </div> 
                                    {% elif key == 'Enrollment No' %}
                                        <div class="col-lg m-2" >
                                            <input class="form-control" type="number" name="{{key}}" id="eroll_no"  placeholder="Enter the Enrollment No" style="border-color: rgb(167, 165, 165);height: 30px; width: 100%;">
                                        </div> 
                                    {% else %}
                                        <div class="col-lg m-2 ">
                                            <select class="w-100" name="{{key}}"  style="width: 100%;"> 
                                                <option value="-1" class="text-secondary">Select {{key}}</option>
                                                {% for value in filter %}
                                                    <option value="{{value}}">{{value}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}                    
                        </div>
                        <div class="m-2 float-right">
                            <button class="btn btn-success float-right "style ="background-color:green;" name="filter" value="filter" type="submit" onclick="fillDefaultValues();showFilters();">Filter</button>
                            <button class="btn btn-danger float-right" style ="background-color:red;"  name="filter" value="reset" type="submit" onclick = "showFilters()">Reset</button>
                            <button class="btn expo-btn" style=" background-color:#052e6a; color:#fff; float: right;"  name="filter" value="export" type="submit">Download Excel</button>   
                        </div>
                    </div>

                    <textarea class="d-none" name="filter_data" id="filter_data">{% if sel_fil_val_json_string %}{{sel_fil_val_json_string}}{% else %}All{% endif %}</textarea>
                    <textarea class="d-none" name="display_columns" id="display_columns">All</textarea>
                    <textarea class = "d-none" name="columns_details" id="columns_details" cols="30" rows="10">{{columns_str}}</textarea>
                    <textarea class = 'show_filter_data d-none'  cols = "30" row = "10" name = "show_filters">{{showFilters}}</textarea>
                
                </form>
                <br>
            </fieldset>
            <br>
                <fieldset  class="border border-2 p-2">
                    <legend class="float-none w-auto p-2">Filter Columns</legend>
                    <form action="{% url 'display_students_table' %}" method ='POST' class="overflow-hidden"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row">
                            <legend  class="float-none w-auto"></legend>
                            <div class="form-group mb-2 align-center" >
                                <label class="mx-4 required_asterisk" for="exampleFormControlInput1" id="no_of_columns">No of Columns</label>
                                <input class="w-30 m-1" type="number" name="" id="no_of_col" val="1" required oninput="addStudentColumns(this.value)" min = "0" max = "17" />
                                <div class="form-group mb-2 align-center" id = "insert_student_Fields" style="margin-top: 20px;"></div>
                                <textarea id = "fillColumns" name = "columns_details" class="d-none"></textarea>
                                <textarea class = 'show_filter_data d-none '  cols = "30" row = "10" name = "show_filters">{{showFilters}}</textarea>
                                <textarea class="d-none" name="filter_data" >{% if sel_fil_val_json_string %}{{sel_fil_val_json_string}}{% else %}All{% endif %}</textarea>
                            </div>
                        </div>
                        <div class="form-group w-100" style = "margin-top : 15px;">
                            <button class="btn mx-2 px-4 text-white" type="submit" value="Add" onclick = "showTable()" style="background-color: #052e6a;">Apply</button>
                        </div>
                    </form>
                </fieldset>
                <br>
                
                <div class="card table-scroll {% if not display %} d-none {% endif %}" id = "table-fields"  >
                    <table id="students_table" cellpadding="10" class="table table-striped  table-bordered table-hover align-middle text-center">
                        <tr class="table" style = "background-color: #052e6a;">
                            <th style="color: white;">S.no</th>
                            {% for col in columns %}
                                {% if col == 'name' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Student Name</th>
                                {% elif col == 'eroll_no' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Enrollment No</th>
                                {% elif col == 'semester' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Semester</th>
                                {% elif col == 'Departments' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Departments</th>
                                {% elif col == 'Class' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Class/Section</th>
                                {% elif col == 'organized_by' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Organized By</th>
                                {% elif col == 'mobile_no' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Mobile Number</th>
                                {% elif col == 'mail_id' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">E-mail Id</th>
                                {% elif col == 'event_name' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Event Name</th>
                                {% elif col == 'event_type' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Type of Event</th>
                                {% elif col == 'event_date' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Event Date</th>
                                {% elif col == 'host_institute' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Host Institute</th>
                                {% elif col == 'position' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Position</th>
                                {% elif col == 'team_size' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Team Size</th>
                                {% elif col == 'level' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Level</th>
                                {% elif col == 'date_of_award' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Date of Award</th>
                                {% elif col == 'upload_proof' %}
                                    <th style="color: white;" id="{{field.name}}_col_head">Award Proof</th>
                                {% endif %}
                            {% endfor %}
                            <th style="color: white;">Action</th>
                        </tr>
                        {% for student in students_data %}
                            <tr class="table-light" id = "event_row_id_{{event.id}}">
                                <td>{{ forloop.counter }}</td>
                                {% for col in columns %}
                                    {% if col == 'name' %}
                                        <td class="event_name_col" >{{ student.name }}</td>
                                    {% elif col == 'eroll_no' %}
                                        <td class="eroll_no_col">{{ student.eroll_no }}</td>
                                    {% elif col == 'semester' %}
                                        <td class="semester_col" >{{ student.semester }}</td>
                                    {% elif col == 'Departments' %}
                                        <td class="Departments_col" >{{ student.Departments }}</td>
                                    {% elif col == 'Class' %}
                                        <td class="Class_col" >{{ student.Class }}</td>
                                    {% elif col == 'organized_by' %}
                                        <td class="organized_by_col" >{{ student.organized_by }}</td>
                                    {% elif col == 'mobile_no' %}
                                        <td class="mobile_no_col" >{{ student.mobile_no }}</td>
                                    {% elif col == 'mail_id' %}
                                        <td class="mail_id_col" >{{ student.mail_id }}</td>
                                    {% elif col == 'event_name' %}
                                        <td class="event_name_col" >{{ student.event_name }}</td>
                                    {% elif col == 'event_type' %}
                                        <td class="event_type_col" >{{ student.event_type }}</td>
                                    {% elif col == 'event_date' %}
                                        <td class="event_date_col" >{{ student.event_date }}</td>
                                    {% elif col == 'host_institute' %}
                                        <td class="host_institute_col" >{{ student.host_institute }}</td>
                                    {% elif col == 'position' %}
                                        <td class="team_size_col" >{{ student.position }}</td>
                                    {% elif col == 'team_size' %}
                                        <td class="team_size_col" >{{ student.team_size }}</td>
                                    {% elif col == 'level' %}
                                        <td class="level_col" >{{ student.level }}</td>
                                    {% elif col == 'date_of_award' %}
                                        <td class="date_of_award_col" >{{ student.date_of_award }}</td>
                                    {% elif col == 'upload_proof' %}
                                        <!-- <td class="upload_proof_col" ><i class="fas fa-file-pdf" style = "font-size:2rem; color: red;"></i></td> -->
                                        <td class="upload_proof_col" ><a href="{% url 'open_file_proof' student.upload_proof %}" class="btn btn-sm atten_file" role="button" target="_blank"><i class="fas fa-file-pdf" style = "font-size:2rem; color: red;"></i></a></td>
                                    {% endif %}
                                {% endfor %}
                                <td>                                 
                                    <!-- <button class="btn btn-warning btn-sm" style = "margin-bottom:7px;" type = "submit" ><i class="fa-solid fa-pen" style="font-size: 1.5rem;"></i></button> -->
                                    <!-- <span  class="btn btn-danger btn-sm" role="button" style = "margin-bottom:7px;" onclick="deleteRow('{{ event.id }}')"  ><i class="material-icons">&#xE872;</i></span> -->
                                    <form action="{% url 'edit_student_entry'%}" method ='POST' class="overflow-hidden"  enctype="multipart/form-data" class = "" id ='columnsDataform'>
                                        {% csrf_token %}
                                        <input name = "id_details" class = "d-none" value = "{{student.id}}"/> <textarea name="columns_details" class="d-none" id = 'passingColumns'>{{columns_str}}</textarea>                             
                                        <button class="btn btn-warning btn-sm" style = "margin-bottom:7px;" type = "submit" ><i class="fa-solid fa-pen" style="font-size: 1.5rem;"></i></button>
                                        <textarea class = 'show_filter_data d-none'  cols = "30" row = "10" name = "show_filters">{{showFilters}}</textarea>
                                    </form>
                                    <form action="{% url 'delete_student_entry'%}" method ='POST' class="overflow-hidden"  enctype="multipart/form-data" class = "" id ='columnsDataform'>
                                        {% csrf_token %}
                                        <input name = "id_details" class = "d-none" value = "{{student.id}}"/> <textarea name="columns_details" class="d-none" id = 'passingColumns'>{{columns_str}}</textarea>                             
                                        <button class="btn btn-danger btn-sm" style = "margin-bottom:7px;" type = "submit" ><i class="material-icons">&#xE872;</i></button>
                                        <textarea class = 'show_filter_data d-none '  cols = "30" row = "10" name = "show_filters">{{showFilters}}</textarea>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
        </div>
    </div>
        

{% endblock %}