{% extends 'base.html' %}
{% block body %}
    {% if msg != '' %}
    <div class="alert alert-success" id="message-alert">
        <p>{{msg}}</p>
    </div>
    {% endif %}
    <div class="table">
        <div id="wrapper">
            <div style="display: flex;justify-content: space-between;">
                <h3>Currently viewing {{ header }}</h3>
                <div style="float: right;">
                    <button class="btn expo-btn" style=" background-color:#052e6a; color:#fff; margin: 0.5rem;" name="downloadExcel" value="export" type="submit" form="filterForm">Download Excel</button>
                    <button class="btn expo-btn" style=" background-color:#052e6a; color:#fff; margin: 0.5rem;" name="" value="" type="button" onclick = 'showFilters();'>Add Filters</button>
                </div>
            </div>
            <!-- <fieldset   id = 'filterDataDiv' class="d-none border border-2 p-2 filter_data {% if not showFilters %} d-none {% endif %}">
                <legend class="float-none w-auto p-2">Filter Data</legend>
                <form class="overflow-hidden" action="{% url 'placements/filter_placement/'%}" method="POST">
                    {% csrf_token %}
                    <div class="form-group row ">
                        <div class="form-group row">
                            {% for key,filter in filter_data.items %}
                                {% if 'break' in key %}
                                    <div class="w-100"></div>
                                {% else %}
                                    {% if sel_fil_val %}
                                        {% for k,v in sel_fil_val.items %}
                                            {% if key == k %}
                                                <div class="col-lg m-2 ">
                                                    <select class="w-100" name="{{key}}" style="width: 100%;"> 
                                                        <option value="-1" class="text-secondary" >Select {{key}}</option>
                                                        {% for value in filter %}
                                                            {% if v == value and v != -1 %}
                                                                <option value="{{value}}" selected>{{value}}</option>
                                                            {% else %}
                                                                <option value="{{value}}">{{value}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="col-lg m-2" >
                                            <select class="w-100" name="{{key}}" style="width: 100%;"> 
                                                <option class = 'w-100' value="-1" class="text-secondary">Select {{key}}</option>
                                                {% for value in filter %}
                                                    <option class = 'w-100' value="{{value}}">{{value}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="m-2 float-right">
                                <button class="btn btn-success float-right "style ="background-color:green;" name="filter" value="filter" type="submit" onclick="fillDefaultValues()">Filter</button>
                                <button class="btn btn-danger float-right" style ="background-color:red;"  name="filter" value="reset" type="submit">Reset</button>
                                <button class="btn expo-btn" style=" background-color:#052e6a; color:#fff; float: right;"  name="filter" value="export" type="submit">Download Excel</button>
                        </div>
                    </div>
                    <textarea class="d-none" name="filter_data" id="filter_data">{% if sel_fil_val_json_string %}{{sel_fil_val_json_string}}{% else %}All{% endif %}</textarea>
                    <textarea class="d-none" name="display_columns" id="display_columns">All</textarea>
                    <textarea class = "d-none" name="columns_details" id="columns_details" cols="30" rows="10">{{columns_str}}</textarea>
                    <textarea class = 'show_filter_data d-none'  cols = "30" row = "10" name = "show_filters">{{showFilters}}</textarea>
                </form>
                <br>
            </fieldset>
            <br> -->
            
            <!-- <fieldset  class="d-none border border-2 p-2">
                <legend class="float-none w-auto p-2">Filter Columns</legend>
                <form action="{% url 'placements/display_columns/' %}" method ='POST' class="overflow-hidden"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <legend class="float-none w-auto"></legend>
                        <div class="form-group mb-2 align-center" >
                            <label class="mx-4 required_asterisk" for="exampleFormControlInput1" id="no_of_columns">No of Columns</label>
                            <input class="w-30 m-1" type="number" name="" id="no_of_col" val="1" required oninput="addPlacementColumns(this.value)" min = "0" max = "6" />
                            <div class="form-group mb-2 align-center" id = "insert_placement_Fields" style="margin-top: 20px;"></div>
                            <textarea id = "fillColumns" name = "columns_details" class="d-none"></textarea>
                            <textarea class = 'show_filter_data d-none '  cols = "30" row = "10" name = "show_filters">{{showFilters}}</textarea>
                            <textarea class="d-none" name="filter_data" id="">{% if sel_fil_val_json_string %}{{sel_fil_val_json_string}}{% else %}All{% endif %}</textarea>
                        </div>
                    </div>
                    <div class="form-group w-100" style = "margin-top : 15px;">
                        <button class="btn mx-2 px-4 text-white" type="submit" value="Add" onclick = "showTable()" style="background-color: #052e6a;">Apply</button>
                    </div>
                </form>
            </fieldset> -->
            
        <!---------------------------- New Filters Code Start ------------------------------------------------------------------------------->

            <fieldset   id = 'filterDataDiv' class="border border-2 p-2 filter_data d-none">
                <legend class="float-none w-auto p-2">Filter Data</legend>
                <form id="filterForm" class="overflow-hidden" action="{% url 'placements/filter_placement/'%}" method="POST">
                    {% csrf_token %}
                    <div class="form-group row ">
                        <div class="form-group row">
                            {% for key,filter in filter_data.items %}
                                {% if 'break' in key %}
                                    <div class="w-100"></div>
                                {% else %}
                                    {% if sel_fil_val %}
                                        {% for k,v in sel_fil_val.items %}
                                            {% if key == k %}
                                                <div class="col-lg m-2 ">
                                                    <select class="w-100" name="{{key}}" style="width: 100%;"> 
                                                        <option value="-1" class="text-secondary" >Select {{key}}</option>
                                                        {% for value in filter %}
                                                            {% if v == value and v != -1 %}
                                                                <option value="{{value}}" selected>{{value}}</option>
                                                            {% else %}
                                                                <option value="{{value}}">{{value}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="col-lg m-2" >
                                            <select class="w-100" name="{{key}}" style="width: 100%;"> 
                                                <option class = 'w-100' value="-1" class="text-secondary">Select {{key}}</option>
                                                {% for value in filter %}
                                                    <option class = 'w-100' value="{{value}}">{{value}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <textarea class="d-none" name="filter_data" id="filter_data">{% if sel_fil_val_json_string %}{{sel_fil_val_json_string}}{% else %}All{% endif %}</textarea>
                    <textarea class="d-none" name="display_columns" id="display_columns">All</textarea>
                    <textarea class = 'show_filter_data d-none'  cols = "30" row = "10" name = "show_filters">{{showFilters}}</textarea>
                    <textarea id = "fillColumns" name="columns_details" class="d-none">{{columns_str}}</textarea>
                    <hr>

                    <div class="form-group row">
                        <div class="form-group mb-2 align-center" >
                            <label class="mx-4" for="exampleFormControlInput1" id="no_of_columns">No of Fields</label>
                            <input class="w-30 m-1" type="number" name="" id="no_of_col" val="1" oninput="addPlacementColumns(this.value)" min = "0" max = "6" />
                            <div class="form-group mb-2 align-center" id = "insert_placement_Fields" style="margin-top: 20px;"></div>
                        </div>
                    </div>
                    <div class="form-group w-100 text-center" style = "margin-top : 15px;">
                        <button class="btn btn-success float-right "style ="background-color:green;" name="filter" value="filter" type="submit" onclick="fillDefaultValues()">Apply Filters</button>
                        <button class="btn btn-danger float-right" style ="background-color:red;"  name="resetFilter" value="reset" type="submit">Reset Filters</button>
                    </div>
                </form>
            </fieldset>

        <!-------------------------------------- New Filters Code End ------------------------------------------------------------------------->

            <br>

            <div class="card table-scroll {% if not display %} d-none {% endif %}" id = "table-fields" style="max-height: 75vh;"  >
                <table id="employee_table" cellpadding="10" class="table table-striped  table-bordered table-hover align-middle text-center" style="margin-bottom: 0%;">
                    <tr class="table" style = "background-color: #052e6a;">
                        <th style="color: white;">S.no</th>
                        {% for col in columns %}
                            {% if col == "name" %}
                                <th style="color: white;" id="{{field.name}}_col_head">Student Name</th>
                            {% elif col == "enrollmentno" %}
                                <th style="color: white;" id="{{field.name}}_col_head">Enrollment Number</th>
                            {% elif col == "department"%}
                                <th style="color: white;" id="{{field.name}}_col_head">Department Name</th>
                            {% elif col == "section"%}
                                <th style="color: white;" id="{{field.name}}_col_head">Section</th>
                            {% elif col == "passout"%}
                                <th style="color: white;" id="{{field.name}}_col_head">Passout Year</th>
                            {% endif %}
                        {% endfor %}
                        <th style="color: white;">Action</th>
                    </tr>
                    
                    {% for placement in placement_data %}
                        <tr class="table-light" id = "placement_row_id_{{placement.id}}">
                            <td><a href="{% url 'placements/show_placement_detail/' placement.id showFilters %}" style="text-decoration: none;">{{ forloop.counter }}</a></td>
                            {% for col in columns %}
                                {% if col == 'name' %}
                                    <td class="name_col" >{{ placement.name }}</td>
                                {% elif col == 'enrollmentno' %}
                                    <td class="enrollmentno_col" >{{ placement.enrollmentno }}</td>
                                {% elif col == 'department' %}
                                    <td class="department_col">{{ placement.department }}</td>
                                {% elif col == 'section' %}
                                    <td class="section_col">{{ placement.section }}</td>
                                {% elif col == 'passout' %}
                                    <td class="passout_col">{{ placement.passout }}</td>
                                {% endif %}
                            {% endfor %}
                            <td>       
                                <form action="{% url 'placements/edit_placement_detail/' %}" method ='POST' class="overflow-hidden"  enctype="multipart/form-data" class = "d-none" id ='columnsDataform'>
                                    {% csrf_token %}
                                    <textarea class = 'show_filter_data d-none '  cols = "30" row = "10" name = "show_filters">{{showFilters}}</textarea>
                                    <div id = "insertForm"></div>                             
                                </form>
                                <textarea name="columns_dets"  class = "d-none" id="columns_dets" cols="30" rows="10" >{{columns_str}}</textarea>   
                                <button class="btn btn-warning btn-sm" style = "margin-bottom:7px;" type = "submit"  onclick = "submitHiddenForm('{{placement.id}}')" ><i class="fa-solid fa-pen" style="font-size: 1.5rem;"></i></button>
                                
                                <form action="{% url 'placements/delete_placement_entry/' %}" method ='POST' class="overflow-hidden"  enctype="multipart/form-data" class = "" id ='columnsDataform'>
                                    {% csrf_token %}
                                    <input name = "id_details" class = "d-none" value = "{{placement.id}}"/> <textarea name="columns_details" class="d-none" id = 'passingColumns'>{{columns_str}}</textarea>                             
                                    <button class="btn btn-danger btn-sm" style = "margin-bottom:7px;" type = "submit" ><i class="material-icons">&#xE872;</i></button>
                                    <textarea class = 'show_filter_data d-none '  cols = "30" row = "10" name = "show_filters">{{showFilters}}</textarea>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}